{% extends "base.html.twig" %}


{% block title %}
	Connection
{% endblock %}

{% block stylesheets %}
	<!-- master stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/style.css') }}">
	<!-- responsive stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/responsive.css') }}">

	<!--  Apply css -->
	<link href="{{ asset('ressources/Apply/grid-responsive.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/master-75a2c0084965cca58fc2b5847dc2e9c7.css') }}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ asset('ressources/Apply/system.css') }}">
{% endblock %}


{% block body %}
	{% include "./nav.html.twig" %}


	<!-- mainmenu-area -->
	{% include "./menu.html.twig" %}
	<!-- /.mainmenu-area -->
	<!-- container -->
		<div class="rt-container"> <div id="rt-main">
			<div class="rt-container">
				<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 2.9em; padding: 20px; font-weight: bold;text-align: center; margin-top: 10%; margin-right: 13%;">
					Please sign in</div>
				<div class="rt-grid-9 ">


					<div class="rt-block">
						<div>
							<div class="component-content">
								<div>
									<!-- Form -->
									<div>
										<form method="post" name="apply" enctype="multipart/form-data" accept-charset="utf-8" class="bfQuickMode">
											{% if error %}
												<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
											{% endif %}
											<div>
												<div class=" alert alert-error" style="display:none"></div>
												<div class=" control-group">
													<div class="controls form-inline">
														<label class="control-label">
															<span class="hasTooltip">
																Email
															</span>
															<!-- <i class="icon-asterisk"></i> -->
														</label>
														<input
														type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control inputbox" autocomplete="email" required autofocus>
													{# <input class=" inputbox" maxlength="25" type="email" name="email" value="" placeholder="Email" required> #}
													</div>
												</div>

												<div class=" control-group">
													<div class="controls form-inline">
														<label class="control-label">
															<span class="hasTooltip">
																Password
															</span>
															<!-- <i class="icon-asterisk"></i> -->
														</label>
														<input
														type="password" name="password" id="inputPassword" class="form-control " autocomplete="current-password" required>
													{# <input class=" inputbox" maxlength="25" type="password" name="password" value="" placeholder="Password" required> #}
													</div>
												</div>

												<div class="form-actions">
													<input
													type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
													{# <input type="submit" class=" btn btn-primary pull-right button" value="Connection"></button> #}
													<button class="btn btn-lg btn-primary pull-right button" type="submit">
														Sign in
													</button>
												</div>
											</div>
										</form>

									</div>
									<!--//form end -->
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="clear"></div>
			</div>
		</div>
	</div><!-- //container --><!-- Footer --><footer class="footer sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-widget about-widget">
						<a href="#">
							<img src="ressources/img/resources/footer-logo.png" alt="Awesome Image"/>
						</a>
						<p>Feel free to get in touch with us to learn more about our organisation.</p>
						<ul class="contact">
							<li>
								<i class="fa fa-map-marker"></i>
								<span>Rabat, Morocco</li>
							</li>
							<li>
								<i class="fa fa-phone"></i>
								<span>+212 667 877 729</span>
							</li>
							<li>
								<i class="fa fa-envelope-o"></i>
								<span>mfd.morocco@gmail.com</span>
							</li>
						</ul>
						<ul class="social">
							<li>
								<a href="https://www.facebook.com/MFFSDMOROCCO">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/mffsdmorocco/">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget quick-links">
						<h3 class="title">Pages</h3>
						<ul>
							<li><a href="about.html">About Us</a></li>
							<li><a href="programs.html">Voluntary Apply</a></li>
							<li><a href="events-list.html">Events</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 latest-post col-sm-6">
					<div class="footer-widget latest-post">
						<h3 class="title">Latest News</h3>
						<ul>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="covi19-iwillstepup.html">#iwillstepup Challenge to support youth ideas
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														that
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														address covid19</a>
									<a href="covi19-iwillstepup.html"></a>
									<span>May 13, 2020</span>
								</div>
							</li>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="kudakwashe.html">Fundraiser for Kudakwashe Children's Home</a>
									<a href="kudakwashe.html"></a>
									<span>May 1, 2020</span>
								</div>
							</li>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="lockdownlearning.html">Learning during lockdown through WhatsApp
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														Mentorship
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														Classes</a>
									<a href="lockdownlearning.html"></a>
									<span>April 9, 2020</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="footer-widget contact-widget">
						<h3 class="title">Contact Form</h3>
						<form action="http://www.igniteyouth.co.zw/inc/sendemail.php" class="contact-form" id="footer-cf">
							<input type="text" name="name" placeholder="Full Name">
							<input type="text" name="email" placeholder="Email Address">
							<textarea name="message" placeholder="Your Message"></textarea>
							<button type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- //Footer --><section class="footer-bottom">
		<div class="container text-center">
			<p>2021 Copyright:
				<a href="#">MFSSD YOUTH Organisation</a>
			</p>
		</div>
	</section>
{% endblock %}
{% block javascripts %}<!-- main jQuery --><script src="{{ asset('ressources/js/jquery-1.11.1.min.js') }}"></script><!-- bx slider --><script src="{{ asset('ressources/js/jquery.bxslider.min.js') }}"></script><!-- validate --><script src="{{ asset('ressources/js/validate.js') }}"></script><!-- thm custom script --><script src="{{ asset('ressources/js/custom.js') }}"></script>
{% endblock %}
