{% extends "base.html.twig" %}

{% block title %}
	Admin
{% endblock %}

{% block stylesheets %}

	<!-- master stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/style.css') }}">
	<!-- responsive stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/responsive.css') }}">


	<!--  Apply css -->
	<link href="{{ asset('ressources/Apply/grid-responsive.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/master-75a2c0084965cca58fc2b5847dc2e9c7.css') }}" rel="stylesheet" type="text/css">
	<link
	rel="stylesheet" href="{{ asset('ressources/Apply/system.css') }}">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

{% endblock %}

{% block body %}
	{% block javascripts %}
		<!-- bootstrap javascript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	{% endblock %}


	
	<!-- /.top-bar -->
    {% include "nav.html.twig" %}
	<!-- /.top-bar -->

<!-- mainmenu-area -->
{% include "menu_admin.html.twig" %}
<!-- /.mainmenu-area -->


<h1 class="text-center text-md" style="margin: 2em 0em 1em 0em ;">Projects</h1>


<!-- Container -->
<!-- <div class="rt-container" style="min-height: 680px ;"> -->


<div id="rt-main" style="min-height: 680px ;">
	<div class="rt-container">

		<nav class="nav nav-pills nav-fill">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" style="min-width: 320px;">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Current Projects</a>
				</li>
				<li class="nav-item" style="min-width: 320px;">
					<a class="nav-link nav-item" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Voluntary Projects</a>
				</li>
			</ul>
		</nav>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<div class="col-4"><br>
					<strong>10/09/2021 :
					</strong>
					<a href="">AMINE NASSER</a>
					<br>
				</div>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<div class="col-6"><br>
					<strong>11/07/2020 :
					</strong>
					<a href="">MOHAMED KHALED</a>
					<br>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- </div> --></div><!-- //Container -->

<!-- Footer -->
		{% include "footer.html.twig" %}
<!-- /Footer -->

{% block javascripts_2 %}
<!-- main jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- bx slider -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- thm custom script -->
<script src="js/custom.js"></script>{% endblock %}{% endblock %}
