{% extends "base.html.twig" %}

{% block title %}
	Edite
{% endblock %}

{% block stylesheets %}

	<!-- master stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/style.css') }}">
	<!-- responsive stylesheet -->
	<link
	rel="stylesheet" href="{{ asset('ressources/css/responsive.css') }}">

	<!--  Apply css -->
	<link href="{{ asset('ressources/Apply/grid-responsive.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('ressources/Apply/master-75a2c0084965cca58fc2b5847dc2e9c7.css') }}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ asset('ressources/Apply/system.css') }}">

{% endblock %}

{% block body %}

	<!-- /.top-bar -->
    {% include "nav.html.twig" %}
	<!-- /.top-bar -->

<!-- mainmenu-area -->
{% include "menu_admin.html.twig" %}
<!-- /.mainmenu-area -->


	<div class="rt-container">

		<div id="rt-main">
			<div class="rt-container">


				<div class="rt-grid-9 ">


					<div class="rt-block">

						<div>

							<div
								class="component-content">


								<!-- <div> -->
								<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 3.2em; padding: 20px; font-weight: bold; margin: 2em 0em 1em 0em ; ">
									Slides
								</div>
								<!-- <img src="/img/Current-Images/1.jpeg" class="img-fluid" alt="Responsive image"> -->

								<form action="#" method="post" name="Slider" enctype="multipart/form-data" accept-charset="utf-8" class="bfQuickMode">

									<div class=" control-group">
										<div class="controls form-inline">
											<label class="control-label">
												<span>
													Title 1
												</span>
											</label>
											<input class=" inputbox" type="text">
											<label class="control-label">
												<span>
													Slide
												</span>
											</label>
											<input class=" inputbox" maxlength="255" type="file" name="" value="" id="ff_elem1">
										</div>
										<div class="form-actions">
											<button type="button" class="bfNextButton btn btn-primary pull-right button" value="Next">
												<span>Save</span>
											</button>
										</div>
									</div>
								</form>


								<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 3.2em; padding: 20px; font-weight: bold; margin: 2em 0em 1em 0em ; ">
									Photos
								</div>
								<form action="#" method="post" name="Slider" enctype="multipart/form-data" accept-charset="utf-8" class="bfQuickMode">
									<div class=" control-group">
										<div class="controls form-inline">
											<label class="control-label">
												<span>
													Add Photo
												</span>
											</label>
											<input class=" inputbox" maxlength="255" type="file" name="" value="" id="ff_elem1">
										</div>
										<div class="form-actions">
											<button type="button" class="bfNextButton btn btn-primary pull-right button" value="Next">
												<span>Save</span>
											</button>
										</div>
									</div>
								</form>

								<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 3.2em; padding: 20px; font-weight: bold; margin: 2em 0em 1em 0em ; ">
									events
								</div>
								<form action="#" method="post" name="Slider" enctype="multipart/form-data" accept-charset="utf-8" class="bfQuickMode">

									<div class=" control-group">
										<div class="controls form-inline">
											<label class="control-label">
												<span>
													Event Image
												</span>
											</label>
											<input class=" inputbox" maxlength="255" type="file" name="" value="" id="ff_elem1">
										</div>
										<div class="controls form-inline">
											<label class="control-label">
												<span>
													Title
												</span>
											</label>
											<input class=" inputbox" maxlength="255" type="text" name="" value="" id="ff_elem1">
										</div>
										<div class="form-actions">
											<button type="button" class="bfNextButton btn btn-primary pull-right button" value="Next">
												<span>Save</span>
											</button>
										</div>
									</div>
								</form>
								<div>

									<div class=" control-group">
										<div class="controls form-inline">
											<label class="control-label">
												<span class="hasTooltip">
													ADD Photo
												</span>
												<i class="icon-asterisk"></i>
											</label>
											<input class=" inputbox" maxlength="255" type="file" name="" value="" id="ff_elem1">
										</div>
										<div class="form-actions">
											<button type="button" class="bfNextButton btn btn-primary pull-right button" value="Next">
												<span>Save</span>
											</button>
										</div>
									</div>

									<div class="form-actions">
										<button type="button" class="bfNextButton btn btn-primary pull-right button" value="Next">
											<span>Send</span>
										</button>
									</div>
								</div>
							</form>
							<!-- </div> -->
							<!-- form end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

<!-- Footer -->
		{% include "footer.html.twig" %}
<!-- /Footer -->

	<!-- main jQuery -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<!-- bx slider -->
	<script src="js/jquery.bxslider.min.js"></script>
	<!-- validate -->
	<script src="js/validate.js"></script>
	<!-- thm custom script -->
	<script src="js/custom.js"></script>
{% endblock %}
